# Logs
package-lock.json
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintrc.yml
.jsintrc

# dotenv environment variables file
config/.env_production

# phpstorm
.idea/
